$env:PE_CLAW_DATABASE_URL = 'postgresql+psycopg://pe_claw:REPLACE@127.0.0.1:5432/pe_claw'
$env:PE_CLAW_REDIS_URL = 'redis://127.0.0.1:6379/0'
$env:PE_CLAW_ARTIFACT_ROOT = 'C:\ProgramData\PE-Claw\artifacts'
$env:PE_CLAW_LEASE_SECONDS = '120'
$env:PE_CLAW_HEARTBEAT_SECONDS = '10'
$env:PE_CLAW_CORS_ORIGINS = 'https://pe-claw.local'
